In [2]:
import pandas as pd

In [31]:
pd.options.display.float_format = '{:,.2f}'.format

In [32]:
salaries = pd.read_csv("salaries_by_college_major.csv")
print(salaries.shape)
salaries.head()

(51, 6)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [33]:
salaries.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [34]:
# checking for na data
salaries.isna().sum().sum()

5

In [35]:
salaries.isna().sum()

Undergraduate Major                  0
Starting Median Salary               1
Mid-Career Median Salary             1
Mid-Career 10th Percentile Salary    1
Mid-Career 90th Percentile Salary    1
Group                                1
dtype: int64

In [36]:
salaries[salaries['Starting Median Salary'].isna()]

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [37]:
# dropping na
salaries = salaries.dropna()

In [38]:
# checking for na data
salaries.isna().sum().sum()

0

In [39]:
# max starting salary
salaries["Starting Median Salary"].max()

74300.0

In [40]:
salaries.loc[salaries["Starting Median Salary"].idxmax()]

Undergraduate Major                  Physician Assistant
Starting Median Salary                         74,300.00
Mid-Career Median Salary                       91,700.00
Mid-Career 10th Percentile Salary              66,400.00
Mid-Career 90th Percentile Salary             124,000.00
Group                                               STEM
Name: 43, dtype: object

In [41]:
salaries.loc[salaries["Mid-Career Median Salary"].idxmax()]

Undergraduate Major                  Chemical Engineering
Starting Median Salary                          63,200.00
Mid-Career Median Salary                       107,000.00
Mid-Career 10th Percentile Salary               71,900.00
Mid-Career 90th Percentile Salary              194,000.00
Group                                                STEM
Name: 8, dtype: object

In [42]:
salaries.loc[salaries["Starting Median Salary"].idxmin()]

Undergraduate Major                   Spanish
Starting Median Salary              34,000.00
Mid-Career Median Salary            53,100.00
Mid-Career 10th Percentile Salary   31,000.00
Mid-Career 90th Percentile Salary   96,400.00
Group                                    HASS
Name: 49, dtype: object

In [43]:
salaries.loc[salaries["Mid-Career Median Salary"].idxmin()]

Undergraduate Major                  Education
Starting Median Salary               34,900.00
Mid-Career Median Salary             52,000.00
Mid-Career 10th Percentile Salary    29,300.00
Mid-Career 90th Percentile Salary   102,000.00
Group                                     HASS
Name: 18, dtype: object

In [44]:
salaries["spread"] = salaries["Mid-Career 90th Percentile Salary"] - salaries["Mid-Career 10th Percentile Salary"]
salaries.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business,"109,800.00"
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM,"96,700.00"
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business,"113,700.00"
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS,"104,200.00"
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business,"85,400.00"

In [45]:
low_risk = salaries.sort_values('spread')
low_risk.head(10)

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group,spread
40,Nursing,"54,200.00","67,000.00","47,600.00","98,300.00",Business,"50,700.00"
43,Physician Assistant,"74,300.00","91,700.00","66,400.00","124,000.00",STEM,"57,600.00"
41,Nutrition,"39,900.00","55,300.00","33,900.00","99,200.00",HASS,"65,300.00"
49,Spanish,"34,000.00","53,100.00","31,000.00","96,400.00",HASS,"65,400.00"
27,Health Care Administration,"38,800.00","60,600.00","34,600.00","101,000.00",Business,"66,400.00"
47,Religion,"34,100.00","52,000.00","29,700.00","96,400.00",HASS,"66,700.00"
23,Forestry,"39,100.00","62,600.00","41,000.00","111,000.00",Business,"70,000.00"
32,Interior Design,"36,100.00","53,200.00","35,700.00","107,000.00",HASS,"71,300.00"
18,Education,"34,900.00","52,000.00","29,300.00","102,000.00",HASS,"72,700.00"
15,Criminal Justice,"35,000.00","56,300.00","32,200.00","107,000.00",HASS,"74,800.00"

In [46]:
salaries_by_field = salaries.groupby(by="Group")

In [47]:
salaries_by_field.count()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,spread
Group,,,,,,
Business,12,12,12,12,12,12
HASS,22,22,22,22,22,22
STEM,16,16,16,16,16,16

In [48]:
salaries_by_field.mean()

/tmp/ipykernel_421493/4253685562.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  salaries_by_field.mean()

,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,spread
Group,,,,,
Business,"44,633.33","75,083.33","43,566.67","147,525.00","103,958.33"
HASS,"37,186.36","62,968.18","34,145.45","129,363.64","95,218.18"
STEM,"53,862.50","90,812.50","56,025.00","157,625.00","101,600.00"